.page-layout{
  height: 48rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}
.just-test{
  background-color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.coupon-form{
  min-height: 32rem;
  width: 50%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.date-validation{
  width: 100%;
  display:flex;
  color: white;
  flex-direction: row;
  justify-content: space-between;
}
.date-validation input{
  width: 50%;
  height: 50px;
  border-radius: 6px;
  background-color: #494949;
  border:0;
}
.start-date{
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}
.end-date{
  width: 100%;
  display:flex;
  flex-direction: column;
}


.coupon-form input{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  height: 50px;
  border-radius: 6px;
  background-color: #494949;
  border:0;
}
.form-pair{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.date-validation input{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 50px;
  border-radius: 6px;
  background-color: #494949;
  border:0;
}


   input::-webkit-input-placeholder {
    color: #ffffff !important;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    opacity: 0.40;
    }
.submit{
  width: 366px;
  height: 50px;
  border-radius: 2px;
  background-image: linear-gradient(to bottom, #c9ab39, #6f5902);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: floralwhite;
}
  
.submit-layout{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5rem;
}